<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mi</title>
    <link rel="stylesheet" href="/frontend/public/css/main.css">
</head>
<body>
    <header class="header">
        <h1 class="navbar__title">
            Tatiana Gomez
            <span class="navbar__subtitle">AgroNet</span>
        </h1>

        <div class="navbar-container">
            <nav class="navbar">
                <ul class="navbar__list">
                    <li class="navbar__item"><a href="index.html" class="navbar__link">Inicio</a></li>
                    <li class="navbar__item"><a href="clients.html" class="navbar__link">Clientes</a></li>
                    <li class="navbar__item"><a href="abaut.html" class="navbar__link">Sobre mi</a></li>
                    <li class="navbar__item"><a href="contact.html" class="navbar__link">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <p>Estoy en sobre mi</p>
    </header>

</body>
</html>